.custom-cursor {
  position: fixed;
  top: -10px;
  left: -10px;
  z-index: 1400;
  width: 20px;
  height: 20px;
  border: 2px solid var(--accent);
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.08s linear;
}

@media (max-width: 991px) {
  .custom-cursor {
    display: none;
  }
}
